

<nav class="nav">
	<div class="nav-container">
		<div class="brand">
				<a href="{{ site.baseurl }}/">
					<!--<span class="emoji">💾</span>-->

					<img src="{{ "/img-content/128-1x.png" | prepend: site.baseurl }}" class="brand-icon">
					<span>Maddy Hodges</span></a>
		</div>
			<div class="extra">
				{% for page in site.pages %} {% if page.title %}
				<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
				{% endif %} {% endfor %}
				<a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a>
			</div>
			<div class="extra">
					<a class="nav-icon" id="night-mode"  title="Toggle dark/light mode"><i class="fas fa-moon"></i></a>
					<a class="nav-icon" id="cairo-mode"  title="Toggle for Cairo typeface mode"><i class="fas fa-font"></i></a>
					<!-- clicking cairo-mode should also bring up a model that gives a heads up on what has happened -->
					<a href="https://twitter.com/hoddymadges" class="nav-icon" target="_blank"><i class="fab fa-twitter"></i></a>
					<a href="https://github.com/mfhodges" class="nav-icon" target="_blank"><i class="fab fa-github"></i></a>

			</div>
	</div>

</nav>
